// 所有样式的合集，被编译文件

.container {
  max-width: 960px;
  margin: 0 auto;
}

@import "_partial/header.styl";
@import "_partial/post.styl";
@import "_partial/archive.styl";
@import "_partial/paginator.styl";
@import "_partial/responsive.styl";
@import "_partial/color.styl";