<!-- FOOTER SECTION -->

<footer class="background-two">
    <div class="container">
        <div class="row">
            <div class="clean-footer-content">

                <div class="clean-footer-logo wow bounceIn" data-wow-offset="0">
                    <a href="index.html" id="logo-footer">
                        <%= config.title %>
                    </a>
                </div>

                <p class="clean-copyright-info">
                    Copyright &copy; <a href="http://www.miitbeian.gov.cn/" target="_blank">浙ICP备17018917号</a> - writted by YuXLan
                </p>

                <ul class="clean-footer-social-info">
                    <li>
                        <a href="https://github.com/yuxlan" target="_blank"><i class="fa fa-github"></i></a>
                    </li>
                    <li>
                        <a href="https://codepen.io/YuXLan/" target="_blank"><i class="fa fa-codepen"></i></a>
                    </li>
                    <li>
                        <a href="http://www.linkedin.com/in/%E5%B0%8F%E5%85%B0-%E4%BD%99-3467b513b/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="http://weibo.com/5287171180/profile?topnav=1&wvr=6&is_all=1" target="_blank"><i class="fa fa-weibo"></i></a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</footer>